# ==========================================
# Java / Spring Boot
# ==========================================

target/
*.log
uploads/

# ==========================================
# React / Node
# ==========================================

node_modules/
dist/
build/

# ==========================================
# IDE Files
# ==========================================

.idea/
.vscode/

# ==========================================
# Environment Files
# ==========================================

.env

# ==========================================
# Operating System Files
# ==========================================

.DS_Store
Thumbs.db