# =========================

# Java / Spring Boot

# =========================

target/
*.log

# =========================

# React / Node

# =========================

node_modules/
dist/
build/

# =========================

# IDE Files

# =========================

.idea/
.vscode/

# =========================

# Environment Files

# =========================

.env
